.bundle-add-new {
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  padding: 2.5rem;
  box-shadow: 1px 1px 1px 1px rgba(78, 59, 188, 0.1);
  &--header {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;

    margin-bottom: 2rem;
    &-title {
      font-weight: 500;
    }
    &-buttons {
      color: $color-primary;
    }
  }
}
