.select-dropdown {
  margin-bottom: 1rem;
  position: relative;
  &--icon {
    position: absolute;
    top: 25%;
    left: 15px;
    width: 5rem;
    height: 100%;
    font-size: $font-size-default;
    color: $placeholder-color !important;
    z-index: 100;
  }
  overflow: none;
}

.picky {
  min-height: 3.8rem !important;
  border-radius: 4px !important;
  border: $element-border !important;
  font-size: $font-size-default;
  -webkit-box-shadow: $element-shadow !important;
  -moz-box-shadow: $element-shadow !important;
  box-shadow: $element-shadow !important;

  &::placeholder {
    // color: $placeholder-color;
    margin-left: 60px;
  }
  &__placeholder {
    color: $placeholder-color !important;
    margin-left: 35px;
  }
  &__filter {
    padding: 1rem !important;
  }
  &__input {
    height: 3.8rem !important;
    padding: 0 !important;
    border-radius: 4px !important;
    border: none !important;
    cursor: pointer;
    &:active,
    &:focus {
      outline: none !important;
    }
  }
  .picky__filter__input {
    &:focus {
      outline: none !important;
    }
  }
}
#undefined-list {
  border: 1px solid $color-primary-lightest;
  overflow-y: none;
}
.picky__dropdown {
  z-index: 101;
}
.picky__dropdown .option:hover,
.picky__dropdown li:hover {
  background-color: $color-primary-lightest !important;
}

.selected {
  background-color: $color-primary !important;
  color: white;
}
