.form-element {
  :last-child {
    margin-bottom: 0px;
  }
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8rem;
  &-item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }

  &--label {
    font-size: $font-size-default;

    color: #000000;
    letter-spacing: 0.17px;
    line-height: 18px;
  }

  &--input {
    height: 3.8rem;
    text-indent: 1rem;
    border-radius: 4px;
    border: $element-border;
    -webkit-box-shadow: $element-shadow;
    -moz-box-shadow: $element-shadow;
    box-shadow: $element-shadow;
    padding-right: 5rem;

    &:active,
    &:focus {
      outline: none !important;
      border: 1px solid $color-primary;
    }
  }
  &--remove {
    cursor: pointer;
    position: absolute;
    padding: 2px 5px;
    // border-radius: 3px;
    // background-color: $color-primary-lightest;
    right: 10px;
    top: 9px;
    font-size: 1.2rem;
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    &-img {
      width: 25px;
    }
  }
  &--textarea {
    resize: none;

    height: 8.5rem;
    width: 100%;
    padding: 1rem;
    padding-top: 1rem;
    border-radius: 4px;
    border: $element-border;
    -webkit-box-shadow: $element-shadow;
    -moz-box-shadow: $element-shadow;
    box-shadow: $element-shadow;
    // &::placeholder {
    //   color: $placeholder-color;
    // }
    &:active,
    &:focus {
      outline: none !important;
      border: 1px solid $color-primary;
    }
  }

  &--validation {
    font-size: $font-size-small;
    color: red;
  }
}
