.global-panel {
  position: fixed;
  display: flex;
  flex-direction: row;
  padding-top: 16px;

  top: 0;
  left: 0;
  width: 8rem;
  height: 100vh;
  background-color: #4d3cb5;
  &--logo img {
    width: 40px;
    height: 40px;
  }
  &-items {
    font-size: 2rem;
    text-align: center;
    color: #a592ff;
    &--item {
      transition: all 0.4s;

      &-active {
        color: white;
        width: 40px;
        padding: 5px 10px;
        border-radius: 50%;
        background: linear-gradient(180deg, #c86dd7 0%, #8c4497 100%);
      }
      &:hover {
        color: white;
      }
      &:not(:last-child) {
        margin-bottom: 1.4rem;
      }
    }
  }
}
