.global-panel {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 16px;

  top: 0;
  left: 0;
  width: 8rem;
  height: 100vh;
  background-color: #4d3cb5;
  &--logo img {
    width: 40px;
    height: 40px;
  }
  &-items {
    font-size: 2rem;
    text-align: center;
    color: #a592ff;
    &--item {
      position: relative;
      transition: all 0.4s;
      padding: 5px 7px;
      margin-left: auto;
      margin-right: auto;
      width: 45px;
      margin-bottom: 5px;
      &-active {
        color: white;
        width: 45px;

        border-radius: 50%;
        background: linear-gradient(180deg, #c86dd7 0%, #8c4497 100%);
      }
      &:hover {
        color: white;
      }
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      &-profile-image {
        &-options {
          width: 50px;
          height: 50px;
          & > img {
            // position: absolute;
            // bottom: 20px;
            // left: 20px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
          position: absolute;
          bottom: 20px;
          left: 10px;

          display: inline-block;
          overflow: hidden;
          text-align: center;
          & span,
          & a {
            display: inline-block;
            font-size: 12px;
            white-space: nowrap;
            transition: transform 0.5s ease-out, opacity 0.5s;
          }
          & a {
            position: absolute;
            left: 100%;
            top: -60px;
            // width: 33.33%;
          }
          &:hover a:nth-child(2) {
            transform: translateX(-100%);
            color: red;
          }
          // &:hover a:nth-child(3) {
          //   transform: translateX(-200%);
          // }
          // &:hover a:nth-child(4) {
          //   transform: translateX(-100%);
          // }
          // &:hover span {
          //   transform: translateX(-50%);
          //   opacity: 0;
          // }
        }
      }
      &-notification {
        border-radius: 50%;
        border: 0.5px solid rgb(143, 143, 143);
        position: absolute;
        top: 0;
        right: 3px;
        border: 1px solid rgba(255, 255, 255, 0.38);
        background-color: #ff1834;
        min-width: 16px;
        min-height: 18px;
        font-size: 10px;
        color: #ffffff;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 0.13px;
        // line-height: 13px;
      }
    }
  }
}
