.pagination {
  padding: 0rem 3.8rem 1.8rem 3.8rem;
  position: fixed;
  bottom: 0;

  &-items {
    -webkit-box-shadow: 1px 0px 17px 20px rgba(244, 247, 250, 1);
    -moz-box-shadow: 1px 0px 17px 20px rgba(244, 247, 250, 1);
    box-shadow: 1px 0px 17px 20px rgba(244, 247, 250, 1);
    display: flex;
    font-size: 1.2rem;
    &--item {
      background-color: #ffffff;
      box-shadow: 2px 2px 0 0 rgba(221, 218, 239, 0.5);

      padding: 10px 16.4px;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 1px;
      }
      &:hover {
        background-color: #eceef9;
        color: black;
      }
    }
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
.active-page {
  cursor: default;
  color: white;
  background-color: #4d3cb5;
}

.disabled-page {
  cursor: default !important;
  pointer-events: none !important;
  box-shadow: 0 0 0 0 !important;
  color: rgb(233, 233, 233) !important;
}
