.portrait-testcase {
  position: relative;
  &:hover {
    background-color: #eceef9;
  }
  display: flex;
  min-height: 30rem;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 2px 2px 0 0 rgba(221, 218, 239, 0.5);

  &-top {
    &-container {
      padding: 1.5rem 2rem;
      box-shadow: 2px 2px 0 0 rgba(221, 218, 239, 0.5);
      &--title {
        font-weight: 500;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 0.2px;
        line-height: 2.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
      &--tags {
        &:after {
          content: "";
          display: block;
          clear: both;
        }
        margin-bottom: 1.3rem;
      }

      &--author {
        padding-bottom: 0.5rem;
        color: #4a4a4a;
        font-size: 1.4rem;
        letter-spacing: 0.17px;
        line-height: 1.8rem;
      }
      &--date {
        color: #8a94a3;
        font-size: 1.2rem;
        letter-spacing: 0.15px;
        line-height: 1.5rem;
      }
    }
  }

  &-bottom {
    padding: 1.5rem 2rem;
    &-container {
      &--description {
        // max-height: 14rem;
        overflow: hidden;
        color: #000000;
        font-size: 1.4rem;
        letter-spacing: 0.17px;
        line-height: 1.8rem;

        margin-bottom: 5rem;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 8; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
      &--button {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        margin-top: 2rem;
      }
    }
  }
}
