.project {
  min-height: 250px;
  width: 330px;
  float: left;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 2px 2px 0 0 rgba(221, 218, 239, 0.5);
  float: left;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 18px;
  &:hover {
    background-color: #eceef9;
  }
  &--image {
    width: 100%;
    height: 170px;
    // overflow: hidden;
  }
  &--image > img {
    // margin-left: auto;
    // margin-right: auto;
    // display: block;
    // object-fit: fill;
    margin: auto; /* Magic! */
    max-width: 100%;
    max-height: 100%;
  }
  &--bottom {
    padding: 5px 18px;
    &--title {
      color: #2f25a4;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.2px;
      line-height: 24px;
      margin-bottom: 7px;
    }
    &--management {
      color: #000000;
      font-size: 14px;
      letter-spacing: 0.17px;
      line-height: 18px;
      margin-bottom: 7px;
    }
    &--qa {
      color: #000000;
      font-size: 14px;
      letter-spacing: 0.17px;
      line-height: 18px;
    }
  }
}
