input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-family: inherit;
  font-size: 1.4rem;
  color: #000000;
  letter-spacing: 0.17px;
  line-height: 1.8rem;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type="search"] {
  box-shadow: none !important;
  border: 1px solid #e7ebef !important;
  background: #ffffff url(https://i.ibb.co/ypt6tXb/output-onlinepngtools-8.png) no-repeat 0.8rem center;
  background-size: 2.5rem !important;
  padding: 0.3rem 1.8rem;
  width: 5.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
input[type="search"]:focus {
  width: 13.5rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

#search-input input[type="search"] {
  width: 1.5rem;
  padding-left: 0.8rem;
  color: transparent;
  cursor: pointer;
}
#search-input input[type="search"]:hover {
  background-color: #e7ebef;
}
#search-input input[type="search"]:focus {
  width: 20rem;
  @media only screen and (max-width: $bp-1000) {
    width: 12rem;
  }
  @media only screen and (max-width: $bp-800) {
    width: 18rem;
  }
  @media only screen and (max-width: $bp-600) {
    width: 16rem;
  }
  @media only screen and (max-width: $bp-400) {
    width: 10rem;
  }

  padding-left: 3.2rem;
  color: #000;
  background-color: #dce0e4;
  cursor: auto;
}
#search-input input:-moz-placeholder {
  color: transparent;
}
#search-input input::-webkit-input-placeholder {
  color: transparent;
}
