.tag {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.15px;
  line-height: 1.6rem;
  padding: 0.1rem 0.6rem;
  display: flex;
  justify-content: space-between;
  float: left;

  border-radius: 4px;
  margin-right: 1rem;
  margin-bottom: 0.5rem;

  &--remove {
    margin-left: 0.3rem;
  }
}
