.tag {
  color: white;
  font-size: 12px;
  letter-spacing: 0.15px;
  line-height: 15px;
  padding: 3px 10px;
  display: flex;
  justify-content: space-between;
  float: left;
  align-items: center;
  border-radius: 4px;
  margin-right: 15px;
  margin-bottom: 5px;
  &--title {
    margin-right: 5px;
  }
  &--remove {
    border-left: 1px solid black;
  }
}
