.tag {
  color: white;
  font-size: 12px;
  letter-spacing: 0.15px;
  line-height: 16px;
  padding: 1px 6px;
  display: flex;
  justify-content: space-between;
  float: left;

  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 5px;

  &--remove {
    margin-left: 3px;
  }
}
