.underline-anchor > a {
  height: 1.9rem;
  width: 15.2rem;
  color: #000000;
  font-family: "IBM Plex Sans";
  font-size: 1.4rem;
  letter-spacing: 0.17px;
  line-height: 1.8rem;
  text-decoration: underline;
}
