.view-options {
  position: absolute;
  top: 7rem;
  right: 4rem;
  display: flex;
  font-size: 2rem;
  height: 2.5rem;
  color: rgb(175, 175, 175);
  &--list {
    height: 100%;
    width: auto;
    z-index: 100;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  &--grid {
    height: 100%;
    width: auto;
    z-index: 100;
  }
}
.activeView {
  color: $color-primary;
}
