.PLUMP_PURPLE {
  background-color: #5c4cb2;
}

.PLUM {
  background-color: #c2aff0;
}

.CYAN_AZURE {
  background-color: #4c81b2;
}

.KEPPEL {
  background-color: #4cb29b;
}

.DARK_KHAKI {
  background-color: #d8c069;
}

.LIBERTY {
  background-color: #4c58b2;
}

.AMARANTH {
  background-color: #993766;
}

.VERDIGRIS {
  background-color: #4ca1b2;
}

.MEDIUM_SEA_GREEN {
  background-color: #4cb262;
}

.PALE_COPPER {
  background-color: #d8756a;
}

.MINT {
  background-color: #4cb27f;
}

.SMOKY_TOPAZ {
  background-color: #99373b;
}

.BUD_GREEN {
  background-color: #7fb24c;
}

.BRAS {
  background-color: #b29c4c;
}

.FUZZY_WUZZY {
  background-color: #d86a6a;
}

.OLIVINE {
  background-color: #9ab24c;
}

.CHESTNUT {
  background-color: #993737;
}

.AZTEC_GOLD {
  background-color: #b2934c;
}

.BROWN_SUGAR {
  background-color: #b2644c;
}

.FAWN {
  background-color: #d8a56a;
}

.TURTLE_GREEN {
  background-color: #8bb24c;
}

.BLUE {
  background-color: #373799;
}

.GIANTS_CLUB {
  background-color: #b25d4c;
}

.BLUE_YONDER {
  background-color: #4c70b2;
}

.BOOGER_BUSTER {
  background-color: #d8d56a;
}

.PURPUREUS {
  background-color: #894cb2;
}

.MAXIMUM_RED_PURPLE {
  background-color: #993778;
}

.WISTERIA {
  background-color: #aa4cb2;
}

.MULBERRY {
  background-color: #b24c92;
}

.PISTACHIO {
  background-color: #8fd86a;
}

.MEDIUM_AQUAMARINE {
  background-color: #6ad89a;
}

.MIDDLE_BLUE {
  background-color: #6ad8d6;
}

.SKY_MAGENTA {
  background-color: #d86ab2;
}

.BLUSH {
  background-color: #d86a84;
}
.USER_COLOR {
  background-color: $color-primary;
}
.SETUP_COLOR {
  background-color: rgb(31, 118, 168);
}
.DATE_COLOR {
  background-color: rgb(28, 153, 28);
}
.SEARCH_COLOR {
  background-color: rgb(165, 165, 31);
}

.RESET_COLOR {
  background-color: black;
}

.PASSED-REPORT {
  background: rgba(187, 231, 177, 0.2);
}

.FAILED-REPORT {
  background: rgba(216, 150, 150, 0.2);
}
