.purple {
  background-color: #5C4CB2;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
.dark-blue {
  background-color: darkblue;
}

.dark-golden {
  background-color: darkgoldenrod;
}

.dark-orchid {
  background-color: darkorchid;
}
.dark-gray {
  background-color: darkgray;
}

.dark-red {
  background-color: darkred;
}
.dark-slategray {
  background-color: darkslategray;
}
.dark-turquoise {
  background-color: darkturquoise;
}

.dark-pink{
  background-color: #9D58CB;
}