.pink {
  background-color: #ff00ff;
}
.dark-pink {
  background-color: #990099;
}

.purple {
  background-color: #9900cc;
}

.dark-purple {
  background-color: #660099;
}

.blue {
  background-color: #0066ff;
}
.dark-blue {
  background-color: #003399;
}

.turquoise {
  background-color: #09caca;
}
.dark-turquoise {
  background-color: #009999;
}

.green {
  background-color: #13d360;
}
.dark-green {
  background-color: #009933;
}

.yellow {
  background-color: #ffff33;
}
.dark-yellow {
  background-color: #cccc00;
}

.orange {
  background-color: #ff9900;
}

.dark-orange {
  background-color: #cc6600;
}

.red {
  background-color: #ff3333;
}
.dark-red {
  background-color: #cc0000;
}

.brown {
  background-color: rgb(138, 72, 72);
}
.dark-brown {
  background-color: rgb(90, 48, 48);
}
