.stats-flex {
  padding-left: 3.8rem;
  padding-right: 3.8rem;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  @media only screen and (max-width: $bp-600) {
    padding: 1rem 0;
  }
  //   width: 100%;
  &--dropdown {
    min-width: 25rem;
  }
  &-top {
    padding: 2rem 3rem;
    @media only screen and (max-width: $bp-600) {
      padding: 1rem 0.5rem;
    }
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 0 0 rgba(221, 218, 239, 0.5);
    &-left {
      width: 65%;
      @media only screen and (max-width: $bp-1600) {
        width: 96%;
      }
      @media only screen and (max-width: $bp-800) {
        width: 95%;
      }
      @media only screen and (max-width: $bp-600) {
        width: 93%;
      }
      @media only screen and (max-width: $bp-400) {
        width: 92%;
      }
      @media only screen and (max-width: $bp-600) {
        padding: 2rem 3rem;
      }
      &-title {
        margin-bottom: 2rem;
        color: #2b3037;
        font-size: 2rem;
        letter-spacing: -0.6px;
        display: flex;
        justify-content: space-between;
      }
    }
    &-right {
      padding: 0 2rem;
      width: 35%;
      @media only screen and (max-width: $bp-1600) {
        width: 100%;
      }
      &-title {
        // margin-left: 2rem;
        margin-bottom: 2rem;
        color: #2b3037;
        font-family: "IBM Plex Sans";
        font-size: 2rem;
        letter-spacing: -0.6px;
        line-height: 4rem;
      }
      &-chart {
        width: 100%;

        // margin-left: auto;
        // margin-right: auto;
      }
    }
  }
  &-bottom {
    padding: 2rem 3rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 0 0 rgba(221, 218, 239, 0.5);

    &-left {
      width: 49%;
      @media only screen and (max-width: $bp-1600) {
        width: 90%;
      }
      &-title {
        // margin-left: 2rem;
        color: #2b3037;
        font-family: "IBM Plex Sans";
        font-size: 2rem;
        letter-spacing: -0.6px;
        line-height: 4rem;
      }
    }
    &-right {
      width: 49%;
      @media only screen and (max-width: $bp-1600) {
        width: 90%;
      }
      &-title {
        // margin-left: 2rem;
        color: #2b3037;
        font-family: "IBM Plex Sans";
        font-size: 2rem;
        letter-spacing: -0.6px;
        line-height: 4rem;
      }
    }
  }
}

.apexcharts-xaxistooltip {
  color: white !important;
  background-color: $color-primary !important;
}
.apexcharts-tooltip {
  color: rgba(0, 0, 0, 0.85) !important;
}

// .apexcharts-tooltip .apexcharts-tooltip-series-group.active .apexcharts-markers {
//   background: rgba(10, 5, 31, 0.85) !important;
// }
.apexcharts-legend {
  display: inline-block !important;
  overflow: auto;
  //   padding: 1rem 1rem;
}

.apexcharts-legend-marker {
  border-radius: 0 !important;
  margin-bottom: 1rem;
}
.apexcharts-legend-text {
  margin-bottom: 1rem;
}

.apexcharts-legend-text {
  font-size: 1.6rem !important;
}

.stats-grid {
  display: grid;
  margin-bottom: 2rem;
  grid-gap: 2rem;
  width: 100%;

  grid-template-columns: repeat(auto-fill, 20rem);
  grid-template-columns: repeat(auto-fit, 20rem);

  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));

  &--item {
    border-radius: 4px;
    // background-color: white;
    box-shadow: 2px 2px 0 0 rgba(221, 218, 239, 0.5);
    &-1 {
      padding: 1.6rem 2.5rem;
      border: 1px solid #d9d9d9;
      border-bottom: 0.5rem solid rgb(165, 146, 255);
      &-title {
        height: 2.3rem;
        width: 18rem;
        color: #69737d;
        font-family: "IBM Plex Sans";
        font-size: 1.8rem;
        line-height: 2.3rem;
        margin-bottom: 1.2rem;
      }
      &-count {
        display: flex;
        align-items: center;
        height: 3.4rem;
        width: 18rem;
        color: #2b3037;
        font-family: Roboto;
        font-size: 2.4rem;
        font-weight: bold;
        letter-spacing: -0.9px;
        line-height: 3.4rem;
        &-percentage {
          margin-left: 1rem;
          color: gray;
          color: #9b9b9b;
          font-family: Roboto;
          font-size: 1.6rem;
          font-weight: bold;
          letter-spacing: -0.3px;
          line-height: 2.6rem;
        }
      }
      &-ratio {
        height: 2.6rem;
        width: 18rem;
        color: #9b9b9b;
        font-family: Roboto;
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: -0.3px;
        line-height: 2.6rem;
      }
    }
    &-2 {
      padding: 1.6rem 2.5rem;
      border: 1px solid #d9d9d9;
      border-bottom: 5px solid $color-primary;
      &-title {
        height: 2.3rem;
        width: 18rem;
        color: #69737d;
        font-family: "IBM Plex Sans";
        font-size: 1.8rem;
        line-height: 2.3rem;
        margin-bottom: 1.2rem;
      }
      &-count {
        height: 3.4rem;
        width: 18rem;
        color: #2b3037;
        font-family: Roboto;
        font-size: 2.4rem;
        font-weight: bold;
        letter-spacing: -0.9px;
        line-height: 3.4rem;
      }
      &-percentage {
        height: 2.6rem;
        width: 18rem;
        color: #9b9b9b;
        font-family: Roboto;
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: -0.3px;
        line-height: 2.6rem;
      }
    }
    &-3 {
      padding: 1.6rem 2.5rem;
      border: 1px solid #d9d9d9;
      border-bottom: 5px solid rgb(0, 227, 150);
      &-title {
        height: 2.3rem;
        width: 18rem;
        color: #69737d;
        font-family: "IBM Plex Sans";
        font-size: 1.8rem;
        line-height: 2.3rem;
        margin-bottom: 1.2rem;
      }
      &-count {
        height: 3.4rem;
        width: 18rem;
        color: #2b3037;
        font-family: Roboto;
        font-size: 2.4rem;
        font-weight: bold;
        letter-spacing: -0.9px;
        line-height: 3.4rem;
      }
      &-percentage {
        height: 2.6rem;
        width: 18rem;
        color: #9b9b9b;
        font-family: Roboto;
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: -0.3px;
        line-height: 2.6rem;
      }
    }
    &-4 {
      padding: 1.6rem 2.5rem;
      border: 1px solid #d9d9d9;
      border-bottom: 5px solid rgb(255, 69, 96);
      &-title {
        height: 2.3rem;
        width: 18rem;
        color: #69737d;
        font-family: "IBM Plex Sans";
        font-size: 1.8rem;
        line-height: 2.3rem;
        margin-bottom: 1.2rem;
      }
      &-count {
        height: 3.4rem;
        width: 18rem;
        color: #2b3037;
        font-family: Roboto;
        font-size: 2.4rem;
        font-weight: bold;
        letter-spacing: -0.9px;
        line-height: 3.4rem;
      }
      &-percentage {
        height: 2.6rem;
        width: 18rem;
        color: #9b9b9b;
        font-family: Roboto;
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: -0.3px;
        line-height: 2.6rem;
      }
    }
  }
}
